# Historical Constituent of S&P500

Using Python by web scraping Wikipedia as it provides more historical data

In [1]:
import pandas as pd
import requests
from datetime import datetime
import numpy as np

In [5]:
headers = {
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.8',
    'Cache-Control': 'max-age=0',
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36',
    'Connection': 'keep-alive',
    'Referer': 'http://www.baidu.com/'
}
proxies  =  {
   "http" :  "http://127.0.0.1:1080" ,
   "https" :  "http://127.0.0.1:1080" ,
}

url = 'https://en.wikipedia.org/wiki/List_of_S&P_500_companies'
html = requests.get(url, headers=headers, proxies=proxies).content

In [7]:
data = pd.read_html(html)

In [16]:
data[0]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [17]:
data[1]

                   Date  Added                        Removed  \
                   Date Ticker               Security  Ticker
0    September 21, 2020   ETSY                   Etsy     HRB
1    September 21, 2020    TER               Teradyne    COTY
2    September 21, 2020   CTLT               Catalent     KSS
3         June 22, 2020    BIO   Bio-Rad Laboratories     ADS
4         June 22, 2020    TDY  Teledyne Technologies     HOG
..                  ...    ...                    ...     ...
251    December 5, 2000    SBL    Symbol Technologies      OI
252    December 5, 2000    AYE       Allegheny Energy     GRA
253    December 5, 2000    ABK        Ambac Financial     CCK
254       July 27, 2000   JDSU           JDS Uniphase     RAD
255    December 7, 1999   YHOO                 Yahoo!     LDW

                                                      Reason
                  Security                            Reason
0                H&R Block  Market capitalization change.[6]
1                Coty Inc.  Market capitalization change.[6]
2             Kohl's Corp.  Market capitalization change.[6]
3    Alliance Data Systems  Market capitalization change.[7]
4          Harley-Davidson  Market capitalization change.[7]
..                     ...                               ...
251         Owens-Illinois               Market Cap changes.
252             W.R. Grace               Market Cap changes.
253         Crown Holdings               Market Cap changes.
254                RiteAid           Market Cap change.[204]
255                Laidlaw           Market Cap change.[205]

[256 rows x 6 columns]

In [8]:
sp500 = data[0].loc[1:,[0,1,6,7]]
columns = ['added_ticker', 'name', 'date', 'cik']
sp500.columns = columns
sp500.loc[sp500['date'].isnull(), 'date'] = '1957-01-01'

# One date is in the wrong format. Correcting it.
sp500.loc[~sp500['date'].str.match('\d{4}-\d{2}-\d{2}'), 'date'] = '1985-01-01'
sp500.loc[:,'date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
sp500 = pd.melt(sp500, id_vars=['date', 'name', 'cik'], value_vars=['added_ticker'])
sp500.head()

KeyError: "None of [Int64Index([0, 1, 6, 7], dtype='int64')] are in the [columns]"